In [2]:
import pandas as pd

df = pd.read_csv('fairface_label_val.csv')
for col in df:
    print(col)

file
age
gender
race
service_test

In [3]:
df.drop("service_test", axis=1, inplace=True)

In [4]:
modified_df = df.copy()

modified_df['race'] = modified_df['race'].apply(str.lower)
modified_df['race'] = modified_df['race'].replace(["east asian", "southeast asian"], "asian")
modified_df['race'] = modified_df['race'].replace("latino_hispanic", "latino hispanic")

In [5]:
modified_df['gender'] = modified_df['gender'].replace({"Male": "Man", "Female": "Woman"})

In [6]:
modified_df.head()

        file    age gender             race
0  val/1.jpg    3-9    Man            asian
1  val/2.jpg  50-59  Woman            asian
2  val/3.jpg  30-39    Man            white
3  val/4.jpg  20-29  Woman  latino hispanic
4  val/5.jpg  20-29    Man            asian

In [7]:
modified_df['race'].unique()

array(['asian', 'white', 'latino hispanic', 'black', 'indian',
       'middle eastern'], dtype=object)

In [8]:
modified_df.to_csv("cleaned_fairface_label_val.csv")